<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find robot)/urdf/elspider3/xacro/transmission.xacro"/>

    <xacro:macro name="leg" params="name mirror *origin">
        <!-- right mirror == 1, left mirror == -1 -->

        <joint name="${name}_HAA" type="revolute">
            <xacro:insert_block name="origin"/>
            <parent link="trunk" />
            <child link="${name}_HIP" />
            <axis xyz="0 0 ${mirror*1}" />
            <dynamics damping="${damping}" friction="${friction}"/>
            <limit lower="${haa_position_min}" upper="${haa_position_max}"
                   effort="${setz120_torque_max}" velocity="${setz120_velocity_max}" />
        </joint>

        <link name="${name}_HIP">
            <inertial>
                <xacro:if value="${(mirror == 1)}">
                    <origin xyz="0.13994 0 -0.038094" rpy="0 0 0" />
                    <inertia ixx="${hip_ixx}" ixy="${hip_ixy*mirror}" ixz="${hip_ixz}"
                             iyy="${hip_iyy}" iyz="${hip_iyz*mirror}"
                             izz="${hip_izz}" />
                </xacro:if>
                <xacro:if value="${(mirror == -1)}">
                    <origin xyz="0 0.139938085683012 -0.0380935415481548" rpy="0 0 0" />
                    <inertia ixx="${hip_iyy}" ixy="${hip_ixy*mirror}" ixz="${hip_iyz}"
                             iyy="${hip_ixx}" iyz="${hip_ixz}"
                             izz="${hip_izz}" />
                </xacro:if>
                <mass value="${hip_mass}" />
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://robot/urdf/elspider3/meshes/${name}_HIP.STL" />
                </geometry>
                <material name="">
                    <color rgba="1 1 1 1" />
                </material>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://robot/urdf/elspider3/meshes/${name}_HIP.STL" />
                </geometry>
            </collision>
        </link>

        <joint name="${name}_HFE" type="revolute">
            <xacro:if value="${(mirror == 1)}">
                <origin xyz="0.29613 0 -0.12556" rpy="-1.5708 -1.5708 0"/>
            </xacro:if>
            <xacro:if value="${(mirror == -1)}">
                <origin xyz="0 0.29613 -0.12556" rpy="0 -1.5708 0"/>
            </xacro:if>
            <parent link="${name}_HIP" />
            <child link="${name}_THIGH" />
            <axis xyz="0 0 1" />
            <dynamics damping="${damping}" friction="${friction}"/>
            <limit lower="${hfe_position_min}" upper="${hfe_position_max}"
                   effort="${setz90_torque_max}" velocity="${setz90_velocity_max}" />
        </joint>

        <link name="${name}_THIGH">
            <inertial>
                <origin
                    xyz="0.10923291892502 -0.000624705561420247 ${-0.0166641862389202*mirror}"
                    rpy="0 0 0" />
                <mass value="${thigh_mass}" />
                <inertia ixx="${thigh_ixx}" ixy="${thigh_ixy*mirror}" ixz="${thigh_ixz*mirror}"
                         iyy="${thigh_iyy}" iyz="${thigh_iyz}"
                         izz="${thigh_izz}" />
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://robot/urdf/elspider3/meshes/${name}_THIGH.STL" />
                </geometry>
                <material name="">
                    <color rgba="1 1 1 1" />
                </material>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://robot/urdf/elspider3/meshes/${name}_THIGH.STL" />
                </geometry>
            </collision>
        </link>

        <joint name="${name}_KFE" type="revolute">
            <origin xyz="0.16 0 0" rpy="3.1416 0 1.5708" />
            <parent link="${name}_THIGH" />
            <child link="${name}_SHANK" />
            <axis xyz="0 0 1" />
            <dynamics damping="${damping}" friction="${friction}"/>
            <limit lower="${kfe_position_min}" upper="${kfe_position_max}"
                   effort="${setz90_torque_max}" velocity="${setz90_velocity_max}" />
        </joint>

        <link name="${name}_SHANK">
            <inertial>
                <origin
                    xyz="0 -0.0816966215032782 ${-0.0418616598294677*mirror}"
                    rpy="0 0 0" />
                <mass value="${shank_mass}" />
                <!-- no mirror in ixy, ixz? -->
                <inertia ixx="${shank_ixx}" ixy="${shank_ixy*mirror}" ixz="${shank_ixz}"
                         iyy="${shank_iyy}" iyz="${shank_iyz*mirror}"
                         izz="${shank_izz}" />
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://robot/urdf/elspider3/meshes/${name}_SHANK.STL" />
                </geometry>
                <material name="">
                    <color rgba="1 1 1 1" />
                </material>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://robot/urdf/elspider3/meshes/${name}_SHANK.STL" />
                </geometry>
            </collision>
        </link>

        <joint name="${name}_FIX" type="fixed" dont_collapse="true">
            <xacro:if value="${(mirror == 1)}">
                <origin xyz="0 -0.286 -0.07" rpy="1.5708 0 3.1416" />
            </xacro:if>
            <xacro:if value="${(mirror == -1)}">
                <origin xyz="0 -0.286 0.07" rpy="1.570796326794 0 3.14159265358" />
            </xacro:if>
            <parent link="${name}_SHANK" />
            <child link="${name}_FOOT" />
            <axis xyz="0 0 0" />
        </joint>

        <link name="${name}_FOOT">
            <inertial>
                <origin xyz="0 0 -0.0204313049246201" rpy="0 0 0" />
                <mass value="${foot_mass}" />
                <inertia ixx="${foot_ixx}" ixy="${foot_ixy}" ixz="${foot_ixz}"
                         iyy="${foot_iyy}" iyz="${foot_iyz}"
                         izz="${foot_izz}" />
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://robot/urdf/elspider3/meshes/${name}_FOOT.STL" />
                </geometry>
                <material name="">
                    <color rgba="1 1 1 1" />
                </material>
            </visual>
            <collision>
                <!-- avoid multiple points of contact with the ground -->
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                    <sphere radius="0.035"/>
                </geometry>
                <!-- <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://robot/urdf/elspider3/meshes/${name}_FOOT.STL" />
                </geometry> -->
            </collision>
        </link>

        <!-- ros control -->
        <xacro:leg_transmission name="${name}"/>

        <!-- foot contacts -->
        <gazebo reference="${name}_SHANK">
            <sensor name="${name}_foot_contact" type="contact">
            <alwaysOn>true</alwaysOn>
            <update_rate>100</update_rate>
            <plugin name="contactPlugin" filename="libunitreeFootContactPlugin.so"/>
            <contact>
                <collision>${name}_SHANK_fixed_joint_lump__${name}_FOOT_collision_1</collision>
            </contact>
            </sensor>
        </gazebo>

        <!-- visualization of Foot contacts. -->
        <gazebo reference="${name}_FOOT">
            <visual>
                <plugin name="drawForcePlugin" filename="libunitreeDrawForcePlugin.so">
                    <topicName>${name}_foot_contact</topicName>
                </plugin>
            </visual>
        </gazebo>

        <!-- set friction -->
        <gazebo reference="${name}_HIP">
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
            <self_collide>1</self_collide>
        </gazebo>
        <gazebo reference="${name}_THIGH">
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
            <self_collide>1</self_collide>
        </gazebo>
        <gazebo reference="{name}_SHANK">
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
            <self_collide>1</self_collide>
        </gazebo>
        <gazebo reference="${name}_FOOT">
            <mu1>1</mu1>
            <mu2>1</mu2>
            <self_collide>1</self_collide>
            <!-- soft foot -->
            <!-- <kp value="1000000.0"/>
            <kd value="1.0"/> -->
            <kp value="10000000.0"/>
            <kd value="10.0"/>
        </gazebo>

    </xacro:macro>
</robot>
