<?xml version="1.0"?>

<robot name="elspider3" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find robot)/urdf/elspider3/xacro/const.xacro"/>
    <xacro:include filename="$(find robot)/urdf/elspider3/xacro/trunk.xacro"/>
    <xacro:include filename="$(find robot)/urdf/elspider3/xacro/leg.xacro"/>
    <xacro:include filename="$(find robot)/urdf/elspider3/xacro/gazebo.xacro"/>

    <xacro:leg name="RF" mirror="1" >
        <origin rpy="0 0 -1.5708" xyz="0.6 -0.3 0"/>
    </xacro:leg>

    <xacro:leg name="RM" mirror="1" >
        <origin rpy="0 0 -1.5708" xyz="0 -0.45 0"/>
    </xacro:leg>

    <xacro:leg name="RB" mirror="1" >
        <origin rpy="0 0 -1.5708" xyz="-0.6 -0.3 0"/>
    </xacro:leg>

    <xacro:leg name="LF" mirror="-1" >
        <origin rpy="0 0 0" xyz="0.6 0.3 0"/>
    </xacro:leg>

    <xacro:leg name="LM" mirror="-1" >
        <origin rpy="0 0 0" xyz="0 0.45 0"/>
    </xacro:leg>

    <xacro:leg name="LB" mirror="-1" >
        <origin rpy="0 0 0" xyz="-0.6 0.3 0"/>
    </xacro:leg>

</robot>
