<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- fixed parts, including trunk and hip -->
    <xacro:property name="trunk_mass_coe" value="1"/>
    <!-- swing parts, including thigh, shank and foot -->
    <xacro:property name="leg_mass_coe" value="1"/>

    <!-- unitree A1 motor -->
    <xacro:property name="motor_velocity_max" value="21"/>
    <xacro:property name="motor_torque_max" value="33.5"/>
    <xacro:property name="damping" value="0"/>
    <xacro:property name="friction" value="0"/>

    <!-- consistent with the actual mechanical limit -->
    <xacro:property name="haa_position_max" value="0.94"/>
    <xacro:property name="haa_position_min" value="-0.94"/>

    <xacro:property name="hfe_position_max" value="3.5"/>
    <xacro:property name="hfe_position_min" value="-0.1"/>

    <xacro:property name="kfe_position_max" value="4.25"/>
    <xacro:property name="kfe_position_min" value="-0.436"/>

    <xacro:property name="trunk_mass" value="${10.154*trunk_mass_coe}"/>
    <xacro:property name="trunk_ixx" value="0.383316503"/>
    <xacro:property name="trunk_ixy" value="0.005624294"/>
    <xacro:property name="trunk_ixz" value="0.000867617"/>
    <xacro:property name="trunk_iyy" value="1.184788202"/>
    <xacro:property name="trunk_iyz" value="-0.000642783"/>
    <xacro:property name="trunk_izz" value="1.510253542"/>

    <xacro:property name="hip_mass" value="${1.432*trunk_mass_coe}"/>
    <xacro:property name="hip_ixx" value="0.008667273"/>
    <xacro:property name="hip_ixy" value="0.000550519"/>
    <xacro:property name="hip_ixz" value="-0.000437698"/>
    <xacro:property name="hip_iyy" value="0.003966417"/>
    <xacro:property name="hip_iyz" value="0.003045718"/>
    <xacro:property name="hip_izz" value="0.006263477"/>

    <xacro:property name="thigh_mass" value="${1.088*leg_mass_coe}"/>
    <xacro:property name="thigh_ixx" value="0.005757794"/>
    <xacro:property name="thigh_ixy" value="0"/>
    <xacro:property name="thigh_ixz" value="0.001017752"/>
    <xacro:property name="thigh_iyy" value="0.006716892"/>
    <xacro:property name="thigh_iyz" value="0"/>
    <xacro:property name="thigh_izz" value="0.002140865"/>

    <xacro:property name="shank_mass" value="${0.632*leg_mass_coe}"/>
    <xacro:property name="shank_ixx" value="0.009725734"/>
    <xacro:property name="shank_ixy" value="0.0"/>
    <xacro:property name="shank_ixz" value="-0.000516644"/>
    <xacro:property name="shank_iyy" value="0.011177627"/>
    <xacro:property name="shank_iyz" value="0.000006204"/>
    <xacro:property name="shank_izz" value="0.001750349"/>

    <xacro:property name="foot_mass" value="${0.013*leg_mass_coe}"/>
    <xacro:property name="foot_ixx" value="2.423E-06"/>
    <xacro:property name="foot_ixy" value="0"/>
    <xacro:property name="foot_ixz" value="0"/>
    <xacro:property name="foot_iyy" value="3.073E-06"/>
    <xacro:property name="foot_iyz" value="0"/>
    <xacro:property name="foot_izz" value="2.423E-06"/>

</robot>
