<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <!-- ros_control plugin -->
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/elspider_mini</robotNamespace>
            <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
        </plugin>
    </gazebo>

    <!-- Show the trajectory of trunk center. -->
    <gazebo>
        <plugin name="3dplot" filename="libLinkPlot3DPlugin.so">
            <frequency>10</frequency>
            <plot>
                <link>base</link>
                <pose>0 0 0 0 0 0</pose>
                <material>Gazebo/Yellow</material>
            </plot>
        </plugin>
    </gazebo>

    <!-- simulates a 6 dof position and rate sensor -->
    <gazebo>
        <plugin name="p3d" filename="libgazebo_ros_p3d.so">
            <alwaysOn>true</alwaysOn>
            <updateRate>100.0</updateRate>
            <bodyName>base</bodyName>
            <topicName>torso_odom</topicName>
            <frameName>world</frameName>
        </plugin>
    </gazebo>

    <!-- imu plugin -->
    <gazebo reference="imu_link">
        <gravity>true</gravity>
        <sensor name="imu_sensor" type="imu">
            <always_on>true</always_on>
            <update_rate>1000</update_rate>
            <visualize>true</visualize>
            <topic>__default_topic__</topic>
            <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
                <topicName>trunk_imu</topicName>
                <bodyName>imu_link</bodyName>
                <updateRateHZ>1000.0</updateRateHZ>
                <gaussianNoise>0.0</gaussianNoise>
                <xyzOffset>0 0 0</xyzOffset>
                <rpyOffset>0 0 0</rpyOffset>
                <frameName>imu_link</frameName>
            </plugin>
            <pose>0 0 0 0 0 0</pose>
        </sensor>
    </gazebo>

    <!-- camera plugin -->
    <!-- <xacro:include filename="$(find realsense_ros_gazebo)/xacro/tracker.xacro"/>
    <xacro:include filename="$(find realsense_ros_gazebo)/xacro/depthcam.xacro"/>

    <xacro:realsense_d435 sensor_name="d400_1_gazebo" parent_link="trunk" rate="10">
        <origin rpy="0 0.5236 -0.43633" xyz="0.38901 -0.10276 0.27502"/>
    </xacro:realsense_d435>
    <xacro:realsense_d435 sensor_name="d400_2_gazebo" parent_link="trunk" rate="10">
        <origin rpy="0 0.5236 0.43633" xyz="0.36734 0.14922 0.27502"/>
    </xacro:realsense_d435> -->

</robot>
